:root {
  --color-secondary: #eefffb;
  --color-primary: #140408;
  --button-primary: #3ee74c;

}
@font-face {
  src: url(./fonts/roc.ttf);
  font-family: "Roc";
}
@font-face {
  src: url(./fonts/lane.ttf);
  font-family: "lane";
}
@font-face {
  src: url(./fonts/lane-light.ttf);
  font-family: "lane-light";
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  margin: 0;
}
li {
  list-style: none;
}
nav {
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
}
a {
  color: var(--color-secondary);
  text-decoration: none;
}
a:hover {
  font-style: italic;
}
img {
  width: fit-content;
  height: auto;
}
main {
  min-height: 80vh;
}
.navbar {
  max-width: 62em;
  padding: 1.25em 1em;
  margin: 0rem auto;
  display: flex;
  margin-bottom: 6em;
}
.brand {
  font-family: lane, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-secondary);
  font-size: 1.5rem;
}
.margin-left {
  margin-left: auto;
}
.nav-item {
  color: var(--color-secondary);
  font-family: lane-light, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}
.github {
  fill: var(--color-secondary);
}
h1,
h2 {
  font-family: lane, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
.i:hover {
  font-style: italic;
}
.section {
  margin: 4rem 0 2rem 0;
}
.container {
  max-width: 35.5em;
  padding: 0 1em;
  margin: 1rem auto;
}
.form-group {
  display: block;
}
label {
  font-family: lane-light, serif;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
input,
textarea {
  color: var(--color-primary);
  font-family: lane-light, serif;
  font-style: normal;
  font-size: 1rem;
  border-radius: 0px;
  width: 90%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 1em 1em 1em 0.25em;
}
textarea {
  padding-bottom: 0em;
}

button {
  font-family: lane-light, serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2.5em;
  background: none;
  border: none;
  border-radius: 3px;
  padding: 0.75em 1em 0.75em 0.7em;
  text-align: center;
  background-color: var(--button-primary);
  color: var(--color-primary);

  border: 2px solid var(--button-primary);
  transition: all 200ms ease-out;
  cursor: pointer;
}
button:hover {
  border-radius: 28px;
  border: 2px solid var(--button-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.section {
  display: grid;
  place-items: center;
  min-height: 35vh;
  margin-bottom: 4em;
}
img {
  width: 100%;
  height: auto;
}
.email-image {
  border: 2px var(--color-primary) solid;

}
footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 1em;
}
.link {
  padding: .5em 0;
}
@media screen and (min-width: 48em) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1em;

  }
  input,
  textarea {
    width: 100%;
  }
}
.spinner-container {
    display: flex;
    justify-content: center;

}
.spinner-container img {
    width: 120px;

}
.spinner-container.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toast {
  font-family: lane-light;
    min-width: 250px; 
    background-color: var(--button-primary); 
    border: var(--color-primary) solid 2px;
    color: var(--color-primary); 
    text-align: center; 
    border-radius: 3px; 
    padding: 1em;
    position: fixed;

    top: 4em;
    right: 50%;
    transform: translateX(50%);
    display: grid;
    place-items: center;
    
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 4em; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 4em; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 4em; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 4em; opacity: 1;}
    to {top: 0; opacity: 0;}
  }